#@ load("secrets.star", "sops")
---
alloy:
  alloy:
    enableReporting: false
cluster:
  name: alpha
configValidator:
  enabled: false
externalServices:
  loki:
    secret:
      create: false
      name: grafana-cloud-loki-endpoint
  prometheus:
    secret:
      create: false
      name: grafana-cloud-prometheus-endpoint
  tempo:
    secret:
      create: false
      name: grafana-cloud-tempo-endpoint
grafana-agent: {}
grafana-agent-logs: {}
kube-state-metrics:
  enabled: true
logs:
  cluster_events:
    enabled: true
  enabled: true
  pod_logs:
    enabled: true
metrics:
  cost:
    enabled: true
  enabled: true
  node-exporter:
    enabled: true
opencost:
  enabled: true
  opencost:
    exporter:
      defaultClusterId: default-cluster
    prometheus:
      existingSecretName: grafana-cloud-prometheus-endpoint
      external:
        url: #@ sops("0", "prometheus.host") + "/api/prom"
    ui:
      enabled: false
prometheus-node-exporter:
  enabled: true
prometheus-operator-crds:
  enabled: true
receivers:
  grpc:
    enabled: true
  http:
    enabled: true
  zipkin:
    enabled: false
traces:
  enabled: false
