#@ load("secrets.star", "sops")
#@ load("notifications.star", "gen_templates")

---
notifications:
  secret:
    items:
      telegram-token: #@ sops("1", "telegram.token")
  notifiers: #! lang:yaml
    service.telegram: |
      token: $telegram-token
    service.webhook.telegram-html: |
      url: https://api.telegram.org/bot$telegram-token/sendMessage
      headers:
        - name: Content-Type
          value: application/json
  subscriptions:
    - recipients:
        - telegram-html
      triggers:
        - on-created
        - on-deleted
        - on-deployed
        - on-health-degraded
        - on-sync-failed
        - on-sync-running
        - on-sync-status-unknown
        - on-sync-succeeded
  templates: #@ gen_templates()
  triggers: #! lang:yaml
    trigger.on-created: |
      - description: Application is created.
        oncePer: app.metadata.name
        send:
        - app-created
        when: "true"
    trigger.on-deleted: |
      - description: Application is deleted.
        oncePer: app.metadata.name
        send:
        - app-deleted
        when: app.metadata.deletionTimestamp != nil
    trigger.on-deployed: |
      - description: Application is synced and healthy. Triggered once per commit.
        oncePer: app.status.operationState?.syncResult?.revision
        send:
        - app-deployed
        when: app.status.operationState != nil and app.status.operationState.phase in ['Succeeded']
          and app.status.health.status == 'Healthy' and (!time.Parse(app.status.health.lastTransitionTime).Add(1
          * time.Minute).Before(time.Parse(app.status.operationState.finishedAt)) or time.Parse(app.status.health.lastTransitionTime).Before(time.Parse(app.status.operationState.startedAt)))
    trigger.on-health-degraded: |
      - description: Application has degraded
        oncePer: app.status.operationState?.syncResult?.revision
        send:
        - app-health-degraded
        when: app.status.health.status == 'Degraded'
    trigger.on-sync-failed: |
      - description: Application syncing has failed
        oncePer: app.status.operationState?.syncResult?.revision
        send:
        - app-sync-failed
        when: app.status.operationState != nil and app.status.operationState.phase in ['Error',
          'Failed']
    trigger.on-sync-running: |
      - description: Application is being synced
        oncePer: app.status.operationState?.syncResult?.revision
        send:
        - app-sync-running
        when: app.status.operationState != nil and app.status.operationState.phase in ['Running']
    trigger.on-sync-status-unknown: |
      - description: Application status is 'Unknown'
        oncePer: app.status.operationState?.syncResult?.revision
        send:
        - app-sync-status-unknown
        when: app.status.sync.status == 'Unknown'
    trigger.on-sync-succeeded: |
      - description: Application syncing has succeeded
        oncePer: app.status.operationState?.syncResult?.revision
        send:
        - app-sync-succeeded
        when: app.status.operationState != nil and app.status.operationState.phase in ['Succeeded']
