#@ load("@ytt:data", "data")
#@ load("@ytt:yaml", "yaml")
#@ load("secrets.star", "sops")

#@ d = data.values

#@ def oidc_config():
name: Authelia
issuer: https://auth.zebradil.dev
clientID: #@ sops("oidc", "argocd.client_id")
clientSecret: #@ sops("oidc", "argocd.client_secret")
cliClientID: #@ sops("oidc", "argocd-cli.client_id")
requestedScopes:
  - openid
  - email
  - groups
enableUserInfoGroups: true
userInfoPath: /api/oidc/userinfo
#@ end

---
global:
  domain: #@ d.myks.context.app + "." + d.environment.baseDomain
configs:
  cm:
    url: https://argocd.zebradil.dev
    oidc.config: #@ yaml.encode(oidc_config())
  params:
    server.insecure: 'true'
