#@ load("@ytt:data", "data")

#@ ap = data.values.application

---
ingressShim:
  defaultIssuerName: #@ ap._.defaultIssuerName
  defaultIssuerKind: 'ClusterIssuer'
crds:
  enabled: true
  keep: false
#! prometheus:
#!   servicemonitor:
#!     enabled: true
