#@data/values-schema
---
#@overlay/match-child-defaults missing_ok=True
application:
  #! Handle application version updates separately to use the same version
  #! in both helm chart and the image puller jobs.
  #! renovate: datasource=github-releases depName=traefik/traefik
  version: v3.6.6
  ingress:
    #! Hostname for the ingress endpoint.
    #! See https://doc.traefik.io/traefik/providers/kubernetes-ingress/#hostname
    hostname: junior
  tls:
    #! Base domains for the cluster. This is used to generate the wildcard certificates.
    #@schema/validation min_len=1
    baseDomains: ['']
    #! Cert-Manager issuer name for the wildcard certificate.
    #@schema/validation min_len=1
    issuer: ''
