---
fullnameOverride: vmks
victoria-metrics-operator:
  admissionWebhooks:
    certManager:
      enabled: true

vmagent:
  spec:
    extraArgs:
      promscrape.dropOriginalLabels: 'false'

kubeControllerManager:
  service:
    enabled: false

kubeScheduler:
  service:
    enabled: false
