#@ load("secrets.star", "sec")
---
grafana:
  persistence:
    enabled: true
    size: 1Gi
  adminPassword: #@ sec.sops("0", "adminPassword")
  service:
    portName: http
  grafana.ini:
    analytics:
      check_for_updates: false
      feedback_links_enabled: false
      reporting_enabled: false
  sidecar:
    dashboards:
      searchNamespace: ALL
  #! plugins:
  #! - victoriametrics-metrics-datasource
  #! - victoriametrics-logs-datasource
  ingress:
    hosts:
      - grafana.lan.zebradil.dev

alertmanager:
  useManagedConfig: true
  config:
    route:
      receiver: 'blackhole'
    #!   group_by: ["alertgroup", "job"]
    #!   group_wait: 30s
    #!   group_interval: 5m
    #!   repeat_interval: 12h
    #!   routes:
    #!
    #!     # Duplicate code_owner routes to teams
    #!     # These will send alerts to team channels but continue
    #!     # processing through the rest of the tree to handled by on-call
    #!     - matchers:
    #!         - code_owner_channel!=""
    #!         - severity=~"info|warning|critical"
    #!       group_by: ["code_owner_channel", "alertgroup", "job"]
    #!       receiver: slack-code-owners
    #!
    #!     # Standard on-call routes
    #!     - matchers:
    #!         - severity=~"info|warning|critical"
    #!       receiver: slack-monitoring
    #!       continue: true
    #!
    #! inhibit_rules:
    #!   - target_matchers:
    #!       - severity=~"warning|info"
    #!     source_matchers:
    #!       - severity=critical
    #!     equal:
    #!       - cluster
    #!       - namespace
    #!       - alertname
    #!   - target_matchers:
    #!       - severity=info
    #!     source_matchers:
    #!       - severity=warning
    #!     equal:
    #!       - cluster
    #!       - namespace
    #!       - alertname
    #!   - target_matchers:
    #!       - severity=info
    #!     source_matchers:
    #!       - alertname=InfoInhibitor
    #!     equal:
    #!       - cluster
    #!       - namespace

    receivers:
      - name: blackhole
    #! - name: "slack-monitoring"
    #!   slack_configs:
    #!     - channel: "#channel"
    #!       send_resolved: true
    #!       title: '{{ template "slack.monzo.title" . }}'
    #!       icon_emoji: '{{ template "slack.monzo.icon_emoji" . }}'
    #!       color: '{{ template "slack.monzo.color" . }}'
    #!       text: '{{ template "slack.monzo.text" . }}'
    #!       actions:
    #!         - type: button
    #!           text: "Runbook :green_book:"
    #!           url: "{{ (index .Alerts 0).Annotations.runbook_url }}"
    #!         - type: button
    #!           text: "Query :mag:"
    #!           url: "{{ (index .Alerts 0).GeneratorURL }}"
    #!         - type: button
    #!           text: "Dashboard :grafana:"
    #!           url: "{{ (index .Alerts 0).Annotations.dashboard }}"
    #!         - type: button
    #!           text: "Silence :no_bell:"
    #!           url: '{{ template "__alert_silence_link" . }}'
    #!         - type: button
    #!           text: '{{ template "slack.monzo.link_button_text" . }}'
    #!           url: "{{ .CommonAnnotations.link_url }}"
    #! - name: slack-code-owners
    #!   slack_configs:
    #!     - channel: "#{{ .CommonLabels.code_owner_channel }}"
    #!       send_resolved: true
    #!       title: '{{ template "slack.monzo.title" . }}'
    #!       icon_emoji: '{{ template "slack.monzo.icon_emoji" . }}'
    #!       color: '{{ template "slack.monzo.color" . }}'
    #!       text: '{{ template "slack.monzo.text" . }}'
    #!       actions:
    #!         - type: button
    #!           text: "Runbook :green_book:"
    #!           url: "{{ (index .Alerts 0).Annotations.runbook }}"
    #!         - type: button
    #!           text: "Query :mag:"
    #!           url: "{{ (index .Alerts 0).GeneratorURL }}"
    #!         - type: button
    #!           text: "Dashboard :grafana:"
    #!           url: "{{ (index .Alerts 0).Annotations.dashboard }}"
    #!         - type: button
    #!           text: "Silence :no_bell:"
    #!           url: '{{ template "__alert_silence_link" . }}'
    #!         - type: button
    #!           text: '{{ template "slack.monzo.link_button_text" . }}'
    #!           url: "{{ .CommonAnnotations.link_url }}"
    #!

  templateFiles: {}
    #! template_1.tmpl: |-
    #!   {{ define "hello" -}}
    #!   hello, Victoria!
    #!   {{- end }}
    #! template_2.tmpl: ""

victoria-metrics-operator:
  admissionWebhooks:
    certManager:
      enabled: true
