---
fullnameOverride: vmks
victoria-metrics-operator:
  admissionWebhooks:
    certManager:
      enabled: true

kubeControllerManager:
  service:
    enabled: false

kubeScheduler:
  service:
    enabled: false
