#@ load("secrets.star", "sops")
---
grafana:
  persistence:
    enabled: true
    size: 1Gi
  adminPassword: #@ sops("0", "adminPassword")
  service:
    portName: http
  grafana.ini:
    analytics:
      check_for_updates: false
      feedback_links_enabled: false
      reporting_enabled: false
  sidecar:
    dashboards:
      searchNamespace: ALL
  plugins:
    - victoriametrics-metrics-datasource
    - victoriametrics-logs-datasource
  ingress:
    hosts:
      - grafana.lan.zebradil.dev

alertmanager:
  useManagedConfig: true
  config:
    route:
      receiver: 'blackhole'
      group_by: ['alertgroup', 'alertname', 'severity']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 12h
      routes:
        #! Watchdog
        - matchers:
            - alertname="Watchdog"
          receiver: healthchecks
          continue: false
        #! High severity
        - matchers:
            - severity="critical"
          receiver: tg-high-severity
          continue: false

        #! All the rest
        - receiver: tg-common
          continue: false

      inhibit_rules:
        - target_matchers:
            - severity=~"warning|info"
          source_matchers:
            - severity=critical
          equal:
            - namespace
            - alertname
        - target_matchers:
            - severity=info
          source_matchers:
            - severity=warning
          equal:
            - namespace
            - alertname
        - target_matchers:
            - severity=info
          source_matchers:
            - alertname=InfoInhibitor
          equal:
            - namespace

    receivers:
      - name: blackhole
      - name: healthchecks
        webhook_configs:
          - url: #@ sops("0", "healthchecksPing.url")
      - name: tg-high-severity
        telegram_configs:
          - bot_token: #@ sops("0", "telegram.botToken")
            chat_id: #@ sops("0", "telegram.chatId")
            message_thread_id: #@ sops("0", "telegram.highSeverityTopicId")
            #!message: |
            #!  [{{ .CommonLabels.alertname }}]({{ .ExternalURL }}/#/alerts?state=alerting&alertname={{ .CommonLabels.alertname }}) in {{ .CommonLabels.namespace }} is {{ .CommonLabels.severity }}!
            #!  > {{ .CommonAnnotations.summary }}
      - name: tg-common
        telegram_configs:
          - bot_token: #@ sops("0", "telegram.botToken")
            chat_id: #@ sops("0", "telegram.chatId")
            message_thread_id: #@ sops("0", "telegram.commonTopicId")
            disable_notifications: true

  templateFiles: {}
    #! template_1.tmpl: |-
    #!   {{ define "hello" -}}
    #!   hello, Victoria!
    #!   {{- end }}
    #! template_2.tmpl: ""

victoria-metrics-operator:
  admissionWebhooks:
    certManager:
      enabled: true
