#@data/values
---
argocd:
  app:
    prefix: app-
    destination:
      name: in-cluster
    source:
      #! Use HTTPS URL to avoid necessity to set up SSH keys.
      repoURL: https://github.com/Zebradil/myks-homelab
      #! Explicitly set the target revision to avoid overwriting in CI
      targetRevision: main
      plugin:
        name: argocd-vault-plugin
    syncPolicy:
      prune: true
      selfHeal: false
    syncOptions:
      - FailOnSharedResource=true
      - RespectIgnoreDifferences=true
  project:
    prefix: env-
    destination:
      name: in-cluster
  env:
    generateSecret: false
helm:
  kubeVersion: '1.33.1'
  capabilities:
    - monitoring.coreos.com/v1
kbld:
  enabled: true
  imagesAnnotation: false
  overrides:
    #@ registries = [
    #@   "ghcr.io",
    #@   "index.docker.io",
    #@   "quay.io",
    #@   "registry.access.redhat.com",
    #@   "registry.k8s.io",
    #@ ]
    #@ for/end reg in registries:
    - match:
        registry: #@ reg.replace(".", "\\.")
        repository: (.+)
      replace:
        registry: oci.zebradil.dev
        repository: #@ reg + "-cache/$1"
myks:
  gitRepoUrl: https://github.com/Zebradil/myks-homelab
  #! Explicitly set the main branch to avoid extra diff in PRs.
  gitRepoBranch: main
#! The helm and myks versions below are managed by renovate and are used solely for triggeing a full re-render when helm
#! or myks version changes. These versions must be the same as in the mise config (.mise.toml).
#! renovate: datasource=github-releases depName=helm/helm version=4.0.4
#! renovate: datasource=github-releases depName=mykso/myks version=5.5.0
