---
name: Render with myks

'on':
  pull_request:
  push:
    branches:
      - main

jobs:
  render:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    permissions:
      actions: read
      contents: write
      pull-requests: write
      statuses: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref || github.ref_name }}
          # use more powerful token to trigger subsequent workflows
          token: ${{ secrets.ZEBRADIL_BOT_GITHUB_TOKEN }}
      - name: Login to Harbor registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ${{ secrets.HARBOR_REGISTRY }}
          username: ${{ secrets.HARBOR_ROBOT_NAME }}
          password: ${{ secrets.HARBOR_ROBOT_PASSWORD }}
      - name: Derive appropriate SHAs for base and head for myks Smart Mode
        uses: nrwl/nx-set-shas@3e9ad7370203c1e93d109be57f3b72eb0eb511b1 # v4.4.0
      - run: |
          echo "BASE: ${{ env.NX_BASE }}"
          echo "HEAD: ${{ env.NX_HEAD }}"
      - name: Setup tools
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
      - name: Print tools versions
        run: mise list
      - name: Render
        env:
          MYKS_SMART_MODE_BASE_REVISION: ${{ github.base_ref && format('origin/{0}', github.base_ref) || env.NX_BASE }}
        run: |
          myks render
          myks cleanup --cache
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        with:
          gpg_private_key: ${{ secrets.ZEBRADIL_BOT_GPG_PRIVATE_KEY }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Commit changes
        id: commit
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: 'chore: render with myks'
          commit_user_name: Zebradil Bot
          commit_user_email: german.lashevich+github-zebradil-bot@gmail.com
      - name: Set commit status
        uses: myrotvorets/set-commit-status-action@3730c0a348a2ace3c110851bed53331bc6406e9f # v2.0.1
        with:
          context: myks
          description:
            ${{ steps.commit.outputs.changes_detected == 'true' && 'New changes have been committed' || 'Rendered files
            are up to date' }}
          # When running on a PR, set the commit status on the latest commit in
          # the branch. Otherwise, the PR will be waiting for the commit status
          # indefinitely. This, in particular, blocks Renovate from merging PRs
          # automatically.
          # If running on a push, set the commit status on the current commit.
          sha: ${{ steps.commit.outputs.commit_hash || github.event.pull_request.head.sha || github.sha }}
          status: success
  auto-approve:
    needs: render
    if: ${{ github.event_name == 'pull_request' }}
    uses: ./.github/workflows/auto-approve.yaml
    secrets: inherit
